<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin3.css">
</head>
<body>
    

    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's create your subject </div>

        <div class="input-container ic1">
          <input id="firstname" class="input" type="text" placeholder=" Name " />
          
         
        </div>

        <div class="input-container ic2">
          <input id="lastname" class="input" type="text" placeholder=" Code" />
          
          
        </div>

        <div class="input-container ic3">
          <input id="email" class="input" type="text" placeholder=" Department " />
         
         
        </div>

        <div class="input-container ic4">
            <input id="email" class="input" type="text" placeholder="Previous subjects " />
            
            
          </div>
        <button type="text" class="submit">Add</button>
        <div id="parent">
            <div class="child"> <a  href="admin1.html">Back</a> </div><div class="child
            "></div><a class="child" href="index.html">Home</a></div>
           
      </div>


</body>
</html>